#loaderBox {
  width: 100%;
  height: 500px;
  /*background-color : #3796E3;*/
}

.containerWrap{
  /*width: 200px;
  height: 200px;
  margin: 50% auto;*/
}

.loader {
  font-size: 150px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 0.8em auto;
  /*position: fixed;*/
  top: 50%;
  left: 50%;
  margin-top: 90px;
  /*margin-left: 50px;*/
  -webkit-animation: load6 1.5s infinite ease;
  animation: load6 1.5s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: -0.11em -0.83em 0 -0.4em #13a934, -0.11em -0.83em 0 -0.42em #13a934, -0.11em -0.83em 0 -0.44em #13a934, -0.11em -0.83em 0 -0.46em #13a934, -0.11em -0.83em 0 -0.477em #13a934;
  }
  5%,
  95% {
    box-shadow: -0.11em -0.83em 0 -0.4em #13a934, -0.11em -0.83em 0 -0.42em #13a934, -0.11em -0.83em 0 -0.44em #13a934, -0.11em -0.83em 0 -0.46em #13a934, -0.11em -0.83em 0 -0.477em #13a934;
  }
  30% {
    box-shadow: -0.11em -0.83em 0 -0.4em #13a934, -0.51em -0.66em 0 -0.42em #13a934, -0.75em -0.36em 0 -0.44em #13a934, -0.83em -0.03em 0 -0.46em #13a934, -0.81em 0.21em 0 -0.477em #13a934;
  }
  55% {
    box-shadow: -0.11em -0.83em 0 -0.4em #13a934, -0.29em -0.78em 0 -0.42em #13a934, -0.43em -0.72em 0 -0.44em #13a934, -0.52em -0.65em 0 -0.46em #13a934, -0.57em -0.61em 0 -0.477em #13a934;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: -0.11em -0.83em 0 -0.4em #13a934, -0.11em -0.83em 0 -0.42em #13a934, -0.11em -0.83em 0 -0.44em #13a934, -0.11em -0.83em 0 -0.46em #13a934, -0.11em -0.83em 0 -0.477em #13a934;
  }
}
@keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: -0.11em -0.83em 0 -0.4em #13a934, -0.11em -0.83em 0 -0.42em #13a934, -0.11em -0.83em 0 -0.44em #13a934, -0.11em -0.83em 0 -0.46em #13a934, -0.11em -0.83em 0 -0.477em #13a934;
  }
  5%,
  95% {
    box-shadow: -0.11em -0.83em 0 -0.4em #13a934, -0.11em -0.83em 0 -0.42em #13a934, -0.11em -0.83em 0 -0.44em #13a934, -0.11em -0.83em 0 -0.46em #13a934, -0.11em -0.83em 0 -0.477em #13a934;
  }
  30% {
    box-shadow: -0.11em -0.83em 0 -0.4em #13a934, -0.51em -0.66em 0 -0.42em #13a934, -0.75em -0.36em 0 -0.44em #13a934, -0.83em -0.03em 0 -0.46em #13a934, -0.81em 0.21em 0 -0.477em #13a934;
  }
  55% {
    box-shadow: -0.11em -0.83em 0 -0.4em #13a934, -0.29em -0.78em 0 -0.42em #13a934, -0.43em -0.72em 0 -0.44em #13a934, -0.52em -0.65em 0 -0.46em #13a934, -0.57em -0.61em 0 -0.477em #13a934;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: -0.11em -0.83em 0 -0.4em #13a934, -0.11em -0.83em 0 -0.42em #13a934, -0.11em -0.83em 0 -0.44em #13a934, -0.11em -0.83em 0 -0.46em #13a934, -0.11em -0.83em 0 -0.477em #13a934;
  }
}



#load {
  color : #13a934;
  font-family : "Verdana";
  /*position: fixed;*/
  font-size: 110%;
  top: 50%;
  left: 50%;
  margin-top: 80px;
  /*margin-left: 65px;*/
}